Package: com.cpdigitaldarkroom.safariwallsetter
Name: SafariWallSetter
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Replace Copy button with Set Wallpaper
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
