Package: com.cpdigitaldarkroom.pagedswitcher
Name: PagedSwitcher
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: AppSwitcher with paged scrolling
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/PagedSwitcher.bundle/PagedSwitcher.png