<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MORE_TWEAKS_BY_ME</string>
			<key>footerText</key>
			<string>MORE_TWEAKS_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CLOUD2BUTT_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CLOUD2BUTT</string>
			<key>action</key>
			<string>openCloud2Butt</string>
			<key>icon</key>
			<string>Cloud2Butt.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SAFARIWALLSETTER_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SAFARIWALLSETTER</string>
			<key>action</key>
			<string>openSafariWallSetter</string>
			<key>icon</key>
			<string>SafariWallSetter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TAYROTATOR_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>TAYROTATOR</string>
			<key>action</key>
			<string>openTayRotator</string>
			<key>icon</key>
			<string>TayRotator.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PAGEDSWITCHER_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PAGEDSWITCHER</string>
			<key>action</key>
			<string>openPagedSwitcher</string>
			<key>icon</key>
			<string>PagedSwitcher.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>MAKERS</string>
</dict>
</plist>
