<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shuffle Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userShuffleButtonAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userShuffleButtonAlpha</string>
            <key>label</key>
            <string>Shuffle Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Repeat Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userRepeatButtonAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userRepeatButtonAlpha</string>
            <key>label</key>
            <string>Repeat Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Skip Next Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userSkipNextButtonAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userSkipNextButtonAlpha</string>
            <key>label</key>
            <string>Skip Next Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Skip Previous Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userSkipPreviousButtonAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userSkipPreviousButtonAlpha</string>
            <key>label</key>
            <string>Skip Previous Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Play/Pause Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userPlayPauseButtonAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userPlayPauseButtonAlpha</string>
            <key>label</key>
            <string>Play/Pause Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time Remaining Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userTimeRemainingAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userTimeRemainingAlpha</string>
            <key>label</key>
            <string>Time Remaining: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Progress Slider Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userDurationSliderAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userDurationSliderAlpha</string>
            <key>label</key>
            <string>Song Progress Slider: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Current Play Time Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userTimeTakenAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userTimeTakenAlpha</string>
            <key>label</key>
            <string>Current Play Time: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Details Button</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userSongDetailsAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userSongDetailsAlpha</string>
            <key>label</key>
            <string>Song Details Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Save Song Button Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userSaveSongAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userSaveSongAlpha</string>
            <key>label</key>
            <string>Save Song Button: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Name Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userSongNameAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userSongNameAlpha</string>
            <key>label</key>
            <string>Song Name: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artist Name Alpha</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>CPSpotCleanerSliderCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.cpdigitaldarkroom.spotcleaner</string>
            <key>min</key>
            <integer>0</integer>
            <key>max</key>
            <integer>1</integer>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>userArtistNameAlpha</string>
            <key>leftImage</key>
            <string>redRGBIcon.png</string>
            <key>id</key>
            <string>userArtistNameAlpha</string>
            <key>label</key>
            <string>Artist Name: </string>
            <key>PostNotification</key>
            <string>com.cpdigitaldarkroom.spotcleaner/settingschanged</string>
        </dict>
	</array>
	<key>title</key>
	<string>CONFIGURATION</string>
</dict>
</plist>
