Package: com.cpdigitaldarkroom.tayrotator
Name: TayRotator
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Show off your love for Taylor Swift!
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/TayRotator.bundle/TayRotator.png